<div class="container" style="margin-top: 80px;">
  <div class="row">
    <div class="col-md-10">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>定期活動会参加者一覧</h2>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nickname</th>
                  <% @songs.each do |song| %>
                    <th scope="col"><%= song.song_title %></th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% @parts.each do |part| %>
                  <tr>
                    <td>
                      <% if user_signed_in? && part.user_id == current_user.id %>
                        <%= link_to part.nickname, edit_part_path(part) %>
                      <% else %>
                        <%= part.nickname %>
                      <% end %>
                    </td>
                    <td><%= SongPart.find_by(id: part.song_part_id_1)&.name %></td>
                    <td><%= SongPart.find_by(id: part.song_part_id_2)&.name %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 justify-content-end">
      <!-- ボタンの表示 -->
      <div class="btn-group-vertical">
        <!-- 外部リンク -->
        <a href="#" class="btn btn-primary mb-1">External Link</a>
        <!-- カラム追加フォームへの遷移 -->
        <%= link_to "Add Column Form", new_song_path, class: "btn btn-primary mb-1" %>
        <!-- レコード追加フォームへの遷移 -->
        <%= link_to "Add Record Form", new_part_path, class: "btn btn-primary mb-1" %>
        <!-- テーブル情報を出力 -->
        <button class="btn btn-primary mb-1">Output Table Info</button>
        <!-- カラムとレコードをリセット -->
        <%= link_to "Reset Column & Row", reset_all_path, data: {turbo_method: :delete}, class: "btn btn-primary mb-1", id: "reset-data"%>
      </div>
      <!-- ボタンの終了 -->
    </div>
  </div>
</div>