<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col-md-6">
      <h2 class="text-center mb-4">Sign up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "needs-validation", novalidate: true }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="mb-3">
          <%= f.label :ユーザーネーム, class: "form-label" %>
          <%= f.email_field :name, autofocus: true, autocomplete: "name", class: "form-control", required: true %>
          <div class="invalid-feedback">
            Please provide a valid neme.
          </div>
        </div>

        <div class="mb-3">
          <%= f.label :メールアドレス, class: "form-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", required: true %>
          <div class="invalid-feedback">
            Please provide a valid email.
          </div>
        </div>

        <div class="mb-3">
          <%= f.label :パスワード, class: "form-label" %>
          <% if @minimum_password_length %>
            <em class="small">(<%= @minimum_password_length %> 文字以上で入力ください)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control", required: true %>
          <div class="invalid-feedback">
            Please provide a password.
          </div>
        </div>

        <div class="mb-3">
          <%= f.label :パスワード_確認用, class: "form-label" %> <i>(もう一度入力してください)</i>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", required: true %>
          <div class="invalid-feedback">
            Password confirmation does not match.
          </div>
        </div>

        <div class="text-center">
          <%= f.submit "新規登録する", class: "btn btn-primary" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>