<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Okayama A Cappella Circle SQUARE</h1>
            <p class="lead text-body-secondary">
                「誰でも入れるアカペラサークル」をコンセプトとして <br>
                アカペラ始めたい人が集まってくる広場のようなサークルです<br>
                初心者、経験者、とにかくだれもが簡単にアカペラを
            </p>
            <p>
                <a href="#" class="btn btn-primary my-2">SQUAREをもっと知る</a>
                <% if user_signed_in? %>
                <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-secondary my-2" %>
                <% else %>
                <%= link_to "会員用ページはこちら", new_user_session_path, class: "btn btn-secondary my-2" %>
                <% end %>
            </p>
        </div>
    </div>
</section>

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="images/image_1.jpg" alt="集合写真" style="width: 100%; height: 225px;">
                    <div class="card-body">
                        <p class="card-text">SQUAREについて</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">もっと見る</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="images/image_2.png" alt="集合写真" style="width: 100%; height: 225px;">
                    <div class="card-body">
                        <p class="card-text">Okayama Music SQUARE</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">もっと見る</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="images/image_3.jpg" alt="チャットボット" style="width: 100%; height: 225px;">
                    <div class="card-body">
                        <p class="card-text">チャットボットに聞く</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">聞いてみる</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="images/image_4.png" alt="ロゴ" style="width: 100%; height: 225px;">
                    <div class="card-body">
                        <p class="card-text">活動の様子を動画で見る</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="https://www.youtube.com/@square5877" class="btn btn-sm btn-outline-secondary" role="button">もっと見る</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/></svg>
                    <div class="card-body">
                        <p class="card-text">Coming Soon</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/></svg>
                    <div class="card-body">
                        <p class="card-text">Coming Soon</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% if user_signed_in? %>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="images/image_7.jpg" alt="楽譜" style="width: 100%; height: 225px;">
                    <div class="card-body">
                        <p class="card-text">定期活動会参加登録</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <%= link_to parts_path, class: "btn btn-sm btn-outline-secondary" do %>
                                こちらから
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="images/image_8.jpg" alt="楽譜" style="width: 100%; height: 225px;">
                    <div class="card-body">
                        <p class="card-text">定期活動会楽譜</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="<%= ENV['GOOGLE_DRIVE_SCORE'] %>" class="btn btn-sm btn-outline-secondary" role="button">こちらから</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="images/image_9.jpg" alt="本" style="width: 100%; height: 225px;">
                    <div class="card-body">
                        <p class="card-text">ユーザー情報の変更</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <%= link_to "こちらから", edit_user_registration_path, class: "btn btn-sm btn-outline-secondary" %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>