<div class="container">
  <div class="container" style="margin-top: 100px;">
    <div class="row">
  <div class="col-md-6 offset-md-3">
    <h2>曲名を入力してください</h2>
    <%= form_with(model: @song, url: songs_path, local: true) do |form| %>
      <% if flash[:alert] %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
      <% end %>
      <div class="mb-3">
        <%= form.label :song_title, "曲名" %>
        <%= form.text_field :song_title, class: "form-control", placeholder: "曲名", required: true %>
      </div>
      <%= form.submit "追加", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
    <div class="row mt-5">
      <div class="col-md-6 offset-md-3">
        <h2>曲名を削除する</h2>
        <% @songs.each do |song| %>
          <div class="col-md-12 mb-3">
            <p><%= song.song_title %></p>
            <%= link_to "削除", song_path(song.id), data: {turbo_method: :delete}, class: "btn btn-danger" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>